#!/usr/bin/make -f


include /usr/share/pkg-kde-tools/qt-kde-team/3/debian-qt-kde.mk

override_dh_auto_configure:
	$(overridden_command)
	$(overridden_command) --builddirectory=build -- -DCMAKE_BUILD_TYPE=Release


